[versions]
# XXX: Plone 4.2 compatibility
collective.js.jqueryui = 1.8.16.9

[buildout]
extends =
    https://raw.github.com/collective/buildout.plonetest/master/travis-4.x.cfg
    https://raw.github.com/collective/buildout.plonetest/master/qa.cfg

package-name = collective.z3cform.widgets
package-extras = [test]
package-min-coverage = 88
test-eggs = Pillow

parts +=
    createcoverage
    coverage-sh
