.relatedWidget {
    border: 1px solid #8CACBB;
    bottom: 3.5em;
    height: auto;
    left: 0;
    margin: 0 1em;
    position: absolute;
    right: 0;
    top: 5em;
    width: 97%;
}

.relatedWidget ul.from {
    border: 1px solid #8CACBB;
    height: 100%;
    overflow-y: auto;
    width: 50%;
    float: left;
}

.relatedWidget ul.recieve {
    border: 1px solid #8CACBB;
    height: 100%;
    overflow-y: auto;
    width: 49%;
    float: right;
}

.relatedWidget ul.recieve li{
    position: relative;
}

.relatedWidget li {
    display: block;
    padding-left: 1em;
}

.relatedWidget .navTreeCurrentItem {
    font-weight: bold;
}

.relatedWidget .navTreeCurrentItem li {
    font-weight: normal;
}

.relatedWidget li a {
    border-bottom: solid 1px transparent;
}

.relatedWidget .navTreeItem a {
    border: none;
    display: block;
    text-decoration: none;
    padding-top: 0.2em;
    padding-bottom: 0.25em;
}

.relatedWidget .navTreeItem a:hover {
    border: 1px dotted #205C90;
}

.relatedWidget li.navTreeCurrentItem {
    border: none !important;
    background-color: transparent;
}
.relatedWidget li.navTreeCurrentItem > a,
.relatedWidget li.navTreeCurrentItem > a:hover {
    border: none;
    background-color: #205C90;
    color: #fff !important;
}

/* Another workaround for broken Internet Explorer */
* html .relatedWidget li.navTreeCurrentItem a,
* html .relatedWidget li.navTreeCurrentItem a:hover {
    height: 1.6em;
}

.related-item-close {
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
}

#relatedWidget-search {
    height: 20%;
}

#relatedWidget-search input {

}




.tasksplease {
    width:20em;
    margin:0px;
    padding:0px;
}
.tasksplease li {
    background-color:#EEE;
    padding:5px 40px 5px 10px;
    margin:5px 0;
    list-style:none outside none;
    position:relative;
}
.tasksplease li:hover {
    background-color:#E2E2E2;
}

.remove {
    background:transparent url(++resource++collective.z3cform.widgets//actions-sprite.png) scroll no-repeat -16px 0;
    width:16px;
    height:16px;
    position:absolute;
    right:5px;
}
/* Hide only visually, but have it available for screenreaders*/
.remove span {
    border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}

#content .tasksplease-container textarea.task-description {
    width: 30%;
}
#content ul.token-input-list-facebook,
#content ul.tasksplease {
    margin-left: 0;
}