.relatedWidget {
    border: 1px solid #8CACBB;
    bottom: 3.5em;
    height: auto;
    left: 0;
    margin: 0 1em;
    position: absolute;
    right: 0;
    top: 5em;
    width: 97%;
}

.relatedWidget ul.from {
    border: 1px solid #8CACBB;
    height: 90%;
    overflow-y: auto;
    width: 50%;
    float: left;
    padding: 0px;
    margin: 0px;
}

.relatedWidget ul.recieve {
    border: 1px solid #8CACBB;
    height: 90%;
    overflow-y: auto;
    width: 49%;
    float: right;
    padding: 0px;
    margin: 0px;
}

.relatedWidget ul.recieve li{
    position: relative;
}

.relatedWidget li {
    display: block;
    padding-left: 1em;
}

.relatedWidget .navTreeCurrentItem {
    font-weight: bold;
}

.relatedWidget .navTreeCurrentItem li {
    font-weight: normal;
}

.relatedWidget li a {
    border-bottom: solid 1px transparent;
}

.relatedWidget .navTreeItem a {
    border: none;
    display: block;
    text-decoration: none;
    padding-top: 0.2em;
    padding-bottom: 0.25em;
}

.relatedWidget .navTreeItem a:hover {
    border: 1px dotted #205C90;
}

.relatedWidget li.navTreeCurrentItem {
    border: none !important;
    background-color: transparent;
}
.relatedWidget li.navTreeCurrentItem > a,
.relatedWidget li.navTreeCurrentItem > a:hover {
    border: none;
    background-color: #205C90;
    color: #fff !important;
}

/* Another workaround for broken Internet Explorer */
* html .relatedWidget li.navTreeCurrentItem a,
* html .relatedWidget li.navTreeCurrentItem a:hover {
    height: 1.6em;
}

.related-item-close {
    position: absolute;
    right: 5px;
    top: 6px;
    cursor: pointer;
}

#relatedWidget-search {
    height: 20%;
}

#relatedWidget-search input {

}


.from-head {
    float:left;
    width: 50%;
}

.recieve-head {
    float:right;
    width: 49%; 
}

#content .tasksplease-container textarea.task-description {
    width: 20em;
    height: 26px;
}
#content ul.token-input-list-facebook,
#content ul.tasksplease {
    margin-left: 0;
}

.add_task {
    height: 28px;
}

.tasksplease {
    width:24em;
    margin:0px;
    padding:0px;
}
.tasksplease li {
    background-color:#EEE;
    padding:5px 65px 5px 10px;
    margin:5px 0;
    list-style:none outside none;
    position:relative;
    display:block !important;
}
.tasksplease li:hover {
    background-color:#E2E2E2;
}
.tasksplease-container .tasksplease li input {
    width: 90%;
}
.tasksplease .ui-state-highlight {
    background-color:#ecf4ff;
    outline:1px dotted #25962a;
    min-height:1em;
}
.remove {
    background: url(++resource++collective.z3cform.widgets//actions-sprite.png) no-repeat scroll -24px 0 transparent;
    height: 21px;
    position: absolute;
    right: 5px;
    width: 24px;
}
.remove:hover {
    background: url(++resource++collective.z3cform.widgets//actions-sprite.png) no-repeat scroll -24px -21px transparent;
}
/* Hide only visually, but have it available for screenreaders*/
.remove span,
.edit span {
    border: 0; clip: rect(0 0 0 0); height: 1px; margin: -1px; overflow: hidden; padding: 0; position: absolute; width: 1px;
}

.edit {
    background: url(++resource++collective.z3cform.widgets//actions-sprite.png) no-repeat scroll 0 0 transparent;
    height: 21px;
    position: absolute;
    right: 35px;
    width: 24px;
}
.edit:hover {
    background: url(++resource++collective.z3cform.widgets//actions-sprite.png) no-repeat scroll 0 -21px transparent;
}